name: Prod/DR build of JEC image
on:
  release:
    types: [released]

env:
  DRVO_HARBOR_ROBOT: ${{ secrets.DRVO_HARBOR_ROBOT }}

jobs:
  Building_QA_Brown_JEC_image:
    runs-on: [self-hosted, qa-ghrunner]
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@111c56156bcc6918c056dbef52164cfa583dc549
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
      -
        name: pull secrets
        run: |
          mkdir robot
          touch robot/bke-vo-auto_dr.txt
          echo "$DRVO_HARBOR_ROBOT" > robot/bke-vo-auto_dr.txt
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
      -
        name: Build
        run: make build
      -
        name: Push DR
        run: make push_dr